name: Publish to PyPI

on: [push]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dfrgblcdpy
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6

    - name: Install build
      run: |
        pip install build
        pip list

    - name: Build package .
      run: |
        python -m build --sdist .
        ls -l dist
        sha256sum dist/* | tee SHA256SUMS

    - name: Publish package distributions to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
